---
import { commentConfig } from "@/config";

interface Props {
	path: string;
}

const config = {
	...commentConfig.waline,
	el: "#waline",
	path: Astro.props.path,
	dark: "html.dark",
	wordLimit: ["2", "300"],
	...(commentConfig.waline?.visitorCount ? { pageview: true } : {}),
};
---
<!-- Waline -->
<div class="relative w-full">
  <div id="waline"></div>
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
  <style is:global>
    :root {
      --waline-theme-color: var(--primary) !important;
	    --waline-active-color: var(--btn-card-bg-active) !important;
    }
  </style>
  <script type="module" is:inline define:vars={{ config }}>
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    // 本地预览时不统计访问量
    if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
      config.pageview = false;
      config.visitor = false;
    }

    init(config);

    const waline = document.getElementById('waline');
    const observer = new MutationObserver(() => {
      if (!waline) return;
      const buttons = waline.querySelectorAll('.wl-btn');
      buttons.forEach((btn) => {
        if (btn.textContent.trim() === '登录') {
          btn.style.display = 'none';
        }
      });
    });

    if (waline) {
      observer.observe(waline, { childList: true, subtree: true });
    }
  </script>
</div>